.btn-navyblue {
    @apply py-2 px-2 bg-navyblue text-white rounded-md capitalize
}

.btn-red {
    @apply bg-red-900 text-white capitalize font-medium px-4 py-3 rounded-md cursor-pointer !important
}

.btn-black {
    @apply bg-black text-white capitalize font-medium px-4 py-3 rounded-md cursor-pointer !important
}

.btn-yellow {
    @apply bg-yellow-700 text-white capitalize font-medium px-4 py-3 rounded-md cursor-pointer !important
}

.btn-blue {
    @apply bg-blue-700 text-white capitalize font-medium px-4 py-3 rounded-md cursor-pointer !important
}